# === Secrets & config sensibles ===
.env
.env.secrets
.env.bot
alertmanager/alertmanager.yml
traefik/secrets/traefik_auth.htpasswd
grafana_to_discord/.env

# === Données persistantes ===
grafana-data/
prometheus-data/
alertmanager-data/

# === Fichiers temporaires ou inutiles ===
*.pyc
__pycache__/
*.log
*.bak
*.tmp
*.swp

# === Traefik (certificats ACME générés) ===
traefik/acme/acme.json

# === Sauvegardes ===
Save/
backup/

# === Useless === 
ORGA.md
generate_full_dump.py
Organisation du cluster.txt
grafana_to_discord/.last_message_id

# === Scan sécu ===
data/bandit_report_*
setup_hardening.sh
data/trivy_report_*
data/lynis_report_*

# === Vault ===
vault/secrets/*
vault/creds/*
vault/bootstrap/*
vault/data