<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Opicluster Monitoring</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow, noarchive">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Opicluster Monitoring</h1>
    <p>DevSecOps | k3s | Orange Pi Cluster</p>
  </header>
  <nav>
    <a href="/">Dashboard</a>
    <a href="/alerts">Alerts</a>
    <a href="/settings">Settings</a>
    <a href="/ip_threats">Ip blocklist</a>
    <a href="https://webmail.amen.fr/appsuite/" target="_blank">Webmail</a>
    <a href="https://prometheus.monitoring.opicluster.online/" target="_blank">Prometheus</a>
    <a href="https://alertmanager.monitoring.opicluster.online/" target="_blank">Alertmanager</a>
    <a href="https://grafana.monitoring.opicluster.online/" target="_blank">Grafana</a>
    <a href="https://traefik.monitoring.opicluster.online/" target="_blank">Traefik</a>
    <a href="https://github.com/PercevalFox/opicluster_monitoring" target="_blank">GitHub</a>
  </nav>
  <div class="container">
    <h1>Settings</h1>
    <p style="text-align:center; font-size: 1.2em; margin-bottom: 40px;">
      Page de configuration et paramètres du système.
    </p>
    <div style="text-align: center;">
      <a href="/" style="font-size: 1.1em;">Retour au Dashboard</a>
    </div>
  </div>
  <footer>
    &copy; 2025 Opicluster - Monitoring by Uncle Web =D
  </footer>
</body>
</html>
